{{ with .OutputFormats.Get "rss" -}}
{{ printf `
<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
{{ end }}

<script>
    document.addEventListener('keydown', function (event) {
        if (event.key === '/') {
            let searchField = document.getElementById('search__text');
            if (searchField) {
                searchField.focus();
                event.preventDefault();
            }
        }
    });

    document.addEventListener('DOMContentLoaded', function () {
        let searchField = document.getElementById('search__text');
        searchField.setAttribute('placeholder', 'Type / to search'); // or Control+/
    });
</script>